<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="aboutus.css">
</head>
<body>
    <section class="hero">
        <div class="heading">
            <h1>About Us</h1>
        </div>
        <div class="container">
            <div class="hero-content">
                <h2>Welcome To Our Website</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore fugiat voluptatum dolorum nam quo amet debitis voluptatibus maiores perferendis molestias Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <button class="btn">Read More</button>
            </div>
            <div class="hero-image">
                <img src="about_img.jpg" alt="image">
            </div>
        </div>
    </section>
</body>
</html>