<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== REMIXICONS ===============-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="Student_after_login.css" />

    <title>Candidates Applied</title>
  </head>
  <body>
    <!-- <header class="header">
      <section class="flex">
        <div id="menu-btn" class="fa-solid fa-bars-staggered"></div>
        <a href="#" class="logo">
          <i class="fa-solid fa-briefcase"></i>
          Job Search portal
        </a>
        <nav class="navbar">
          <a href="/jobs">Home</a>
          <a href="/about">about</a>
          <a href="/contact">contact us</a>
          <button class="btn">Post a new Job</button>
        </nav>
      </section>
    </header> -->

    <header class="header">
      <section class="flex">

         <div id="menu-btn" class="fa-solid fa-bars-staggered"></div>
         <a href="#" class="logo client-logo">
            <i class="fa-solid fa-building"></i>
            
         </a>
         <nav class="navbar">
            <a  href="/jobs">Home</a>
            <a  href="/about">About us</a>
            <a  href="/contact">Contact us</a>
         </nav>
      </section>

   </header>
    <!-- list of candidates in the form of box with image of the candidate -->
    <section class="job-container client-home-container">
      <h1 class="heading">Candidates Applied</h1>
      <% for(let i = 0; i < jobs.rows.length; i += 3) { %>
      <div class="box-container">
        <% for(let j = i; j < i + 3 && j < jobs.rows.length; j++) { %> 
        <div class="box">
          <div class="company">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUvjbrzzkyS-1GMYEbG1VJhQNIYpashkUv-LebfLJC7g&s"
              alt=""
              style="border-radius: 5.8rem"
            />
          </div>
          <h3 class="job-title"><%= jobs.rows[j].name%></h3>
          <!-- <p class="location"><i class="fa-solid fa-location-dot"></i><span>Mumbai</span></p>
            <p class="location"><i class="fa-solid fa-book"></i><span>Indian Institute of Technology,Palakkad</span></p> -->
          <div class="flex_btn">
            <% let u= "/moreinfo?userid=" + jobs.rows[j].id %>
            <a href=<%=u %> class="btn">More Info</a>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </section>

    <footer class="footer">
      <div class="grid">
            <div class="box">
               <h3>Quick Links</h3>
               <a href="#"><i class="fa-solid fa-angle-right"> </i> Home</a>
               <a href="#"><i class="fa-solid fa-angle-right"></i> About us</a>
               <a href="#"><i class="fa-solid fa-angle-right"></i> All jobs</a>
               <a href="#"><i class="fa-solid fa-angle-right"></i> Contact us</a>
               <a href="#"><i class="fa-solid fa-angle-right"></i> Filter search</a>
            </div>

            <div class="box">
               <h3>extra links</h3>
               <a href="#"><i class="fa-solid fa-angle-right"></i> Account</a>
               <a href="#"><i class="fa-solid fa-angle-right"></i> Login</a>
               <a href="#"><i class="fa-solid fa-angle-right"></i> Register</a>
               <a href="#"><i class="fa-solid fa-angle-right"></i> Dashboard</a>
            </div>

            <div class="box">
               <h3>Follow us</h3>
               <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
               <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
               <a href="#"><i class="fa-brands fa-x-twitter"></i> Twitter</a>
            </div>

      </div>
   </footer>
  </body>
</html>
