<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Your Profile</title>
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/completeprofile.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <section class="flex">
            <!-- <div class="logo">
                <img src="#" alt=""> 
               <h3>Job Search portal</h3>
           </div>  -->
           <a href="#" class="logo">
            <h3>P&F Jobs</h3>
           </a>
           <nav class="navbar">
              <a href="#">Home</a>
              <a href="#">Jobs</a>
              <a href="#">about us</a>
              <a href="#">contact us</a>
              <button class="btn solid navbtn">Login / SignUp</button> 
            </nav>
        </section>
     </header>


<div class="profile">
    <div class="container">
        <div class="profile-box">User Profile</div>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <div class="add-edit">
                        <span class="title">Personal Details</span>
                        <button class="edit-btn"> <i class="fa fa-edit"></i></button>  
                    </div>
                    
                    <div class="fields">
                        <div class="input-field">
                            <label >Full Name</label>
                            <p class="name input">John Doe</p>
                        </div>
                        <div class="input-field">
                            <label >Date of Birth</label>
                            <p class="dateofbirth input">10/04/2002</p>
                        </div>
                        <div class="input-field">
                            <label >Email</label>
                            <p class="email input">johndoe@gmail.com</p>
                        </div>
                        <div class="input-field">
                            <label >Mobile Number</label>
                            <p class="mobilenumber input">7668511787</p>
                        </div>
                        <div class="input-field">
                            <label >Gender</label>
                            <p class="gender input">Male</p>
                        </div>   
                    </div>
                    
                </div>

                <div class="details personal">
                    <div class="add-edit">
                        <span class="title">Education Details</span>
                        <button class="add-btn"> <i class="fa fa-plus"></i></button>
                        <button class="edit-btn"> <i class="fa fa-edit"></i></button> 
                    </div>
                    <div class="fields">
                        <div class="input-field">
                            <label >Certificate / Degree Name</label>
                            <p class="degree input">B.Tech</p>
                        </div>
                        <div class="input-field">
                            <label >Subjects / Major</label>
                            <p class="major input">CSE</p>
                        </div>
                        <div class="input-field">
                            <label >Institute Name</label>
                            <p class="institute input">IIT Palakkad</p>
                        </div>
                        <div class="input-field">
                            <label >Starting Date</label>
                            <p class="startdate input">01/09/2021</p>
                        </div>
                        <div class="input-field">
                            <label >Completion Date</label>
                            <p class="enddate input">01/07/2025</p>
                        </div> 
                        <div class="input-field">
                            <label >CGPA / Percentage</label>
                            <p class="cgpa input">8.5</p>
                        </div>     
                    </div>
                </div>

                <div class="details personal">
                    <div class="add-edit">
                        <span class="title">Work Experience</span>
                        <button class="add-btn"> <i class="fa fa-plus"></i></button>
                        <button class="edit-btn"> <i class="fa fa-edit"></i></button> 
                    </div>
                    <div class="fields">
                        <div class="input-field">
                            <label >Company Name</label>
                            <p class="company input">Google</p>
                        </div>
                        <div class="input-field">
                            <label >Job Title</label>
                            <p class="jobtitle input">SDE</p>
                        </div>
                        <div class="input-field">
                            <label >Job Description</label>
                            <p class="jobdescription input">Worked on a web development project</p>
                        </div>
                        <div class="input-field">
                            <label >Start Date</label>
                            <p class="workstartdate input">01/01/2024</p>
                        </div>
                        <div class="input-field">
                            <label >End Date</label>
                            <p class="workenddate input">01/03/2024</p>
                        </div>
                        <div class="input-field">
                            <label >Country</label>
                            <p class="country input">India</p>
                        </div>
                        <div class="input-field">
                            <label >State</label>
                            <p class="state input">Kerala</p>
                        </div>
                        <div class="input-field">
                            <label >City</label>
                            <p class="city input">Kochi</p>
                        </div>  
                    </div>
                </div>

                <div class="details personal">
                    <div class="add-edit">
                        <span class="title">Skills</span>
                        <button class="add-btn"> <i class="fa fa-plus"></i></button>
                        <button class="edit-btn"> <i class="fa fa-edit"></i></button> 
                    </div>
                    <div class="fields">
                        <div class="input-field">
                            <label >Skill Name</label>
                            <p class="skill input">HTML, CSS, Javascript, DSA</p>
                        </div>  
                    </div>
                </div>
             
            </div>
       </form>
    </div>
</div>


  <script>

     window.onscroll = function() {myFunction()};

     var navbar = document.getElementById("navbar");
     var sticky = navbar.offsetTop;
     function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
     }

  </script>
</body>
</html>