<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Work Experience</title>
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="jobpost.css">
</head>

<body>

    <div class="contact-container" >
        <div class="contact-div">
            <div class="contact-form">
                <span class="circle one"></span><span class="circle two"></span>
                <%let v = "/addExperience?id=" + id ; %>
                <form action=<%=v%> method = "Post">
                    <h3 class="contact-title">Work Experience</h3>

                    <div class="fields">
                        <div class="input-field">
                            <label >Company Name</label>
                            <input type="text" name="company" placeholder="Enter Company Name" required>
                        </div>
                        <div class="input-field">
                            <label >Job Title</label>
                            <input type="text" name="title" placeholder="Enter Job Title" required>
                        </div>
                        <div class="input-field">
                            <label >Job Description</label>
                            <input type="text" name="description" placeholder="Enter Job Description" required>
                        </div>
                        <div class="input-field">
                            <label >Start Date</label>
                            <input type="date" name="start_date" placeholder="Enter starting date" required>
                        </div>
                        <div class="input-field">
                            <label >End Date</label>
                            <input type="date" name="end_date" placeholder="Enter End Date" required>
                        </div>
                        <div class="input-field">
                            <label >Country</label>
                            <input type="text" name="country" placeholder="Enter Country Name" required>
                        </div>
                        
                        <div class="input-field">
                            <label >City</label>
                            <input type="text" name="city" placeholder="Enter City Name" required>
                        </div>
                       
                        <button type = "submit" class="btn contact-btn">Save</button>
                    </div>
            </div>
        </div>
    </div>
   
</body>
</html>