<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Education Details</title>
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="jobpost.css">
</head>

<body>

    <div class="contact-container" >
        <div class="contact-div">
            <div class="contact-form">
                <span class="circle one"></span><span class="circle two"></span>
                <%let v = "/addEducation?id=" + id ; %>
                <form action=<%=v%> method = "Post">
                    <h3 class="contact-title">Education Details</h3>

                    <div class="fields">
                        <div class="input-field">
                            <label >Certificate / Degree Name</label>
                            <input type="text" name = "degree" placeholder="Enter your Certificate or Degree name" required>
                        </div>
                        <div class="input-field">
                            <label >Subjects / Major</label>
                            <input type="text" name="major" placeholder="Enter Subjects or Major" required>
                        </div>
                        <div class="input-field">
                            <label >Institute Name</label>
                            <input type="text" name = "institute" placeholder="Enter Institute Name" required>
                        </div>
                        <div class="input-field">
                            <label >Starting Date</label>
                            
                            <input type="date" name="start_date" placeholder="Enter starting date" required>
                        </div>
                        <div class="input-field">
                            <label >Completion Date</label>
                            <input type="date" name = "end_date" placeholder="Enter Completion Date" required>
                        </div>
                        <div class="input-field">
                            <label >CGPA / Percentage</label>
                            <input type="tel" name = "cgpa" placeholder="Enter CGPA / Percentage" required>
                        </div>
                        <button type="submit" class="btn contact-btn">Save</button>
                    </div>
            </div>
        </div>
    </div>
   
</body>
</html>