<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="Student_after_login.css">

<!-- This is the page when the person who is logged in can see all the posts applied by him -->
    <title>Jobs Applied</title>
</head>
<body>
    <header class="header">
        <section class="flex">

           <div id="menu-btn" class="fa-solid fa-bars-staggered"></div>
           <a href="#" class="logo">
              <i class="fa-solid fa-briefcase"></i>
              Job Search portal
           </a>
           <nav class="navbar">
              <a href="#">Home</a>
              <a href="#">about</a>
              <a href="#">Jobs</a>
              <a href="#">contact us</a>
              <button class="btn">Post a new Job</button>
           </nav>
        </section>

     </header>

     <section class="job-container">
        <h1 class="heading">All Jobs</h1>
        <div class="box-container">
           <div class="box">
              <div class="company">
              </div>
              <h3 class="job-title">Software Developer</h3>
              <p class="location"><i class="fa-solid fa-location-dot"></i><span>Bengalore,India</span></p>
              <div class="tags">
                 <p><i class="fa-solid fa-indian-rupee-sign"></i><span>8LPA</span></p>
                 <p><i class="fa-solid fa-briefcase"></i><span>Full-time</span></p>
                 
              </div>
              <div class="flex_btn">
                 <a href="candidates_applied.html" class="btn">candidates Applied</a>
              </div>
           </div>
           <div class="box">
              <div class="company">
              </div>
              <h3 class="job-title">Software Developer</h3>
              <p class="location"><i class="fa-solid fa-location-dot"></i><span>Bengalore,India</span></p>
              <div class="tags">
                 <p><i class="fa-solid fa-indian-rupee-sign"></i><span>8LPA</span></p>
                 <p><i class="fa-solid fa-briefcase"></i><span>Full-time</span></p>
                 
              </div>
              <div class="flex_btn">
                 <a href="candidates_applied.html" class="btn">candidates Applied</a>
              </div>
           </div>
           <div class="box">
              <div class="company">
              </div>
              <h3 class="job-title">Software Developer</h3>
              <p class="location"><i class="fa-solid fa-location-dot"></i><span>Bengalore,India</span></p>
              <div class="tags">
                 <p><i class="fa-solid fa-indian-rupee-sign"></i><span>8LPA</span></p>
                 <p><i class="fa-solid fa-briefcase"></i><span>Full-time</span></p>
                 
              </div>
              <div class="flex_btn">
                 <a href="candidates_applied.html" class="btn">candidates Applied</a>
              </div>
           </div>
           <div class="box">
            <div class="company">
            </div>
            <h3 class="job-title">Software Developer</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i><span>Bengalore,India</span></p>
            <div class="tags">
               <p><i class="fa-solid fa-indian-rupee-sign"></i><span>8LPA</span></p>
               <p><i class="fa-solid fa-briefcase"></i><span>Full-time</span></p>
               
            </div>
            <div class="flex_btn">
               <a href="candidates_applied.html" class="btn">candidates Applied</a>
            </div>
         </div>

         <div class="box">
            <div class="company">
            </div>
            <h3 class="job-title">Software Developer</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i><span>Bengalore,India</span></p>
            <div class="tags">
               <p><i class="fa-solid fa-indian-rupee-sign"></i><span>8LPA</span></p>
               <p><i class="fa-solid fa-briefcase"></i><span>Full-time</span></p>
               
            </div>
            <div class="flex_btn">
               <a href="candidates_applied.html" class="btn">candidates Applied</a>
            </div>
         </div>

         <div class="box">
            <div class="company">
            </div>
            <h3 class="job-title">Software Developer</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i><span>Bengalore,India</span></p>
            <div class="tags">
               <p><i class="fa-solid fa-indian-rupee-sign"></i><span>8LPA</span></p>
               <p><i class="fa-solid fa-briefcase"></i><span>Full-time</span></p>
               
            </div>
            <div class="flex_btn">
               <a href="candidates_applied.html" class="btn">candidates Applied</a>
            </div>
         </div>


        </div>
        
        <div style="text-align: center; margin-top: 2rem;">
        </div>
     </section>






    <footer class="footer">
        <section class="grid">
              <div class="box">
                 <h3>Quick Links</h3>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>Home</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>about</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>All jobs</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>contact us</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>Filter search</a>
              </div>

              <div class="box">
                 <h3>extra links</h3>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>account</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>login</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>register</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>dashboard</a>
              </div>

              <div class="box">
                 <h3>Follow us</h3>
                 <a href="#"><i class="fa-brands fa-instagram"></i>instagram</a>
                 <a href="#"><i class="fa-brands fa-facebook"></i>facebook</a>
                 <a href="#"><i class="fa-brands fa-x-twitter"></i>Twitter</a>
              </div>

        </section>
     </footer>
</body>
</html>