<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <title>Home Page</title>
    <link rel="stylesheet" href="landing.css">
    
</head>
<body>
    <main>
        <div class="big-wrapper">
            <header class="header">
                <section class="flex">
                    <!-- <div class="logo">
                        <img src="#" alt=""> 
                    <h3>Job Search portal</h3>
                    </div>  -->
                    <a href="#" class="logo">
                        <h3>P&F Jobs</h3>
                    </a>
                    <nav class="navbar">
                        <a class="a" href="#">Home</a>
                        <a class="a" href="#">about us</a>
                        <a class="a" href="#">contact us</a>
                        <button  class="btn devbtn navbtn"><a href="/login_student" >Student Login</a></button> 
                        <button class="btn combtn navbtn"><a href="/login_company" >Company Login</a></button> 
                    </nav>
                </section>
            </header>

            <div class="showcase-area">
                <div class="container">
                    <div class="left">
                        <div class="big-title">
                            <h1>Future Is Here,</h1>
                            <h1>Start Exploring Now.</h1>
                        </div>
                        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ad sapiente explicabo cumque quis atque quos commodi, itaque obcaecati! Lorem ipsum dolor sit.</p>
                       <div class="cta">
                            <button class="btn solid">Get Started</button>
                        </div> 
                    </div>
                    <div class="right">
                       <img src="person2.jpg" alt="Person Image" class="person" /> 
                    </div>
                </div>
                
            </div>
        </div>
    </main>
    <div class="featured" >
        <h1 class="section-title">Featured Companies</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quos totam nobis hic esse accusamus.</p>
        <div class="client-in">
           <ul>
            <li>
                <img src="microsoft.svg" alt="Microsoft Logo">
                <img src="microsoft1.svg" alt="Microsoft Logo">
            </li>
            <li>
                <img src="google.svg" alt="google Logo">
                <img src="google1.svg" alt="google Logo">
            </li>
            <li>
                <img src="ibm.svg" alt="IBM Logo">
                <img src="ibm1.svg" alt="IBM Logo">
            </li>
            <li>
                <img src="dell.svg" alt="Dell Logo">
                <img src="dell1.svg" alt="Dell Logo">
            </li>
            <li>
                <img src="paypal.svg" alt="paypal Logo">
                <img src="paypal1.svg" alt="paypal Logo">
            </li>
            <li>
                <img src="cocacola.svg" alt="cocacola Logo">
                <img src="cocacola1.svg" alt="cocacola Logo">
            </li>
            <li>
                <img src="fedex.svg" alt="fedex Logo">
                <img src="fedex1.svg" alt="fedex Logo">
            </li>
            <li>
                <img src="microsoft.svg" alt="Microsoft Logo">
                <img src="microsoft1.svg" alt="Microsoft Logo">
            </li>
            <li>
                <img src="google.svg" alt="google Logo">
                <img src="google1.svg" alt="google Logo">
            </li>
            <li>
                <img src="ibm.svg" alt="IBM Logo">
                <img src="ibm1.svg" alt="IBM Logo">
            </li>
            <li>
                <img src="dell.svg" alt="Dell Logo">
                <img src="dell1.svg" alt="Dell Logo">
            </li>
            <li>
                <img src="paypal.svg" alt="paypal Logo">
                <img src="paypal1.svg" alt="paypal Logo">
            </li>
            <li>
                <img src="cocacola.svg" alt="cocacola Logo">
                <img src="cocacola1.svg" alt="cocacola Logo">
            </li>
            <li>
                <img src="fedex.svg" alt="fedex Logo">
                <img src="fedex1.svg" alt="fedex Logo">
            </li>
            <li>
                <img src="cocacola.svg" alt="cocacola Logo">
                <img src="cocacola1.svg" alt="cocacola Logo">
            </li>
            <li>
                <img src="fedex.svg" alt="fedex Logo">
                <img src="fedex1.svg" alt="fedex Logo">
            </li>
            <li>
                <img src="microsoft.svg" alt="Microsoft Logo">
                <img src="microsoft1.svg" alt="Microsoft Logo">
            </li>
            <li>
                <img src="google.svg" alt="google Logo">
                <img src="google1.svg" alt="google Logo">
            </li>
            <li>
                <img src="ibm.svg" alt="IBM Logo">
                <img src="ibm1.svg" alt="IBM Logo">
            </li>
            <li>
                <img src="dell.svg" alt="Dell Logo">
                <img src="dell1.svg" alt="Dell Logo">
            </li>
            <li>
                <img src="paypal.svg" alt="paypal Logo">
                <img src="paypal1.svg" alt="paypal Logo">
            </li>
            <li>
                <img src="cocacola.svg" alt="cocacola Logo">
                <img src="cocacola1.svg" alt="cocacola Logo">
            </li>
            <li>
                <img src="fedex.svg" alt="fedex Logo">
                <img src="fedex1.svg" alt="fedex Logo">
            </li>
           
           
           </ul>
        </div>
    </div>
    <div class="join">
        <div class="join-detail">
            <h1 class="section-title">LETS START YOUR NEW JOB WITH US</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vitae libero eum et ipsam eaque, nihil modi tenetur? Lorem ipsum dolor sit.</p>
        </div>
        <button class="btn solid banner-btn">Join Now</button>
    </div>

    <footer class="footer">
        <div class="grid">
              <div class="box">
                 <h3>Quick Links</h3>
                 <a href="#"><i class="fa-solid fa-angle-right"> </i> Home</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> About us</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> All jobs</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Contact us</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Filter search</a>
              </div>

              <div class="box">
                 <h3>extra links</h3>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Account</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Login</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Register</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Dashboard</a>
              </div>

              <div class="box">
                 <h3>Follow us</h3>
                 <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
                 <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
                 <a href="#"><i class="fa-brands fa-x-twitter"></i> Twitter</a>
              </div>

        </div>
     </footer>
     

    <script>
   
    </script>  
</body>
</html>