<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../public/Student_after_login.css">
    <title>More Info about candidates</title>
</head>
<body>
    <header class="header">
        <section class="flex">

           <div id="menu-btn" class="fa-solid fa-bars-staggered"></div>
           <a href="#" class="logo">
              <i class="fa-solid fa-briefcase"></i>
              Job Search portal
           </a>
           <nav class="navbar">
              <a href="#">Home</a>
              <a href="#">about</a>
              <a href="#">Jobs</a>
              <a href="#">contact us</a>
           </nav>
           
        </section>

     </header>


     <section class="job-details">
        <h1 class="heading">Full Information of (Name of candidate) </Name></h1>
        <div class="details">
            <div class="jon-info">
                <h3>Name of candidate</h3>
                <!-- <a href="view_company.html">IT Google</a> -->
                <p><i class="fa-solid fa-location-dot"></i>Mumbai, India</p>
            </div>
            <!-- <div class="basic-details">
                <h3>Salary</h3>
                <p>30-40k/month</p>
                <h3>benefits</h3>
                <p>Work from home, health insurance</p>
                <h3>Work type</h3>
                <p>part-time</p>
                <h3>Schedule</h3>
                <p>Day shift</p>
            </div> -->
            <ul>
                <h3>Education</h3>
                <li>Senior Sec. <span>XYZ senior secondary school , thane , mumbai , 696969</span></li>
                <li>Bachelors: <span>IIT Palakkad(2021-25)</span></li>
                <li>Branch <span>Computer Science and Engineering</span></li>
                <!-- <li>experience: <span>3+ years</span></li> -->
            </ul>
            <!-- <ul>
                <h3>requirements</h3>
                <li>education: <span>graduate</span></li>
                <li>age: <span>18+</span></li>
                <li>language: <span>hindi , english</span></li>
                <li>experience: <span>3+ years</span></li>
            </ul> -->
            <ul>
                <h3>qualifications</h3>
                <!-- <li>Bachelor's </li> -->
                <li>PHP: 1 year experience</li>
                <li>Web Design: Both Frontend and Backend</li>
                <li>WordPress: 1 year</li>
                <li>Total work: 3 years</li>
            </ul>
            <ul>
                <h3>skills</h3>
                <li>html5 and css3</li>
                <li>javascript</li>
                <li>node.js</li>
                <li>react.js</li>
            </ul>
            <!-- <div class="description">
                <h3>job description</h3>
                <p>------------------------------------------------------------------
                    ------------------------------------------------------------------
                    ------------------------------------------------------------------
                </p>
                <ul>
                    <li>Hiring 2 candidates for this role</li>
                    <li>Posted 2 days ago</li>
                </ul>
            </div> -->
            <form action="" method="post" class="flex-btn">
                <input type="submit" value="Resume" name="apply" class="btn">
                <!-- <button type = "submit"><i class="far fa-heart" class="save"><span>Save Job</span></i></button> -->
            </form>
        </div>


     </section>





     <footer class="footer">
        <section class="grid">
              <div class="box">
                 <h3>Quick Links</h3>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>Home</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>about</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>All jobs</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>contact us</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>Filter search</a>
              </div>

              <div class="box">
                 <h3>extra links</h3>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>account</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>login</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>register</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i>dashboard</a>
              </div>

              <div class="box">
                 <h3>Follow us</h3>
                 <a href="#"><i class="fa-brands fa-instagram"></i>instagram</a>
                 <a href="#"><i class="fa-brands fa-facebook"></i>facebook</a>
                 <a href="#"><i class="fa-brands fa-x-twitter"></i>Twitter</a>
              </div>

        </section>
     </footer>
</body>
</html>