@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root{
  --main-color: #2980b9;
  --red: red;
  --light-color: #777;
  --light-bg: #eee;
  --black: #2c3e50;
  --white: #fff;
  --box-shadow: 0.5rem 0.5rem rgba(0,0,0,0.1);
  --border: 0.1rem solid rgba(0,0,0,0.3);
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
*::selection{
  background-color: var(--main-color);
  color: var(--white);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
/* body{
  background-color: var(--light-bg);
} */
section{
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--main-color);
  border-radius: 0.5rem;
  text-align: center;
  text-transform: capitalize;
}

.btn:hover{
  background-color: var(--black);
}

.flex-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}
.header .flex{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header .flex .logo{
  font-size: 2.5rem;
  color: var(--black);
  margin-left: -30px;
}

#menu-btn{
  font-size: 2.7rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}

.header .flex .logo i{
  margin-right: 0.5rem;
  color: var(--light-color);
}

.header .flex .navbar a{
  display: inline-block;
  padding:  1rem 1.5rem;
  font-size: 1.6rem;
  color: var(--light-color);
  border-radius: 0.5rem;
  text-transform: capitalize;
}
.header .flex .navbar a:hover{
  background-color: var(--main-color);
  color: var(--white);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-left: 40px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  height: 108px;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


.profile{
  /* min-height: 100vh; */
  /* background-color: #eee; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #91EAE4; */
}

.container {
    position: relative;
    width: 100%;
    padding: 25px;
    background-color: #fff;
}

 .profile-box{
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #333;
}

.container .profile-box::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    /* background-color: #4070f4; */
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

.container form .details{
    margin-top: 30px;
}


.add-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-bg);
  /* padding:  15px; */
  margin: 6px 0;
}

.extra-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--light-bg); */
  /* padding:  15px; */
  margin: 6px 0;
}


.container form .title{
    display: flex;
    flex: 1;
    padding:  15px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 600px;
    color: #333;
    background-color: var(--light-bg);
}

.container form .extra-title{
  display: flex;
  flex: 1;
  padding:  15px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 600px;
  color: #333;
  /* background-color: var(--light-bg);  */
}


.container form .add-btn{
  width: 40px;
  height: 40px;
  /* margin-top: 25px; */
  margin-right: 30px;
  cursor: pointer;
  transition: .5s;
}


.container form .edit-btn{
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: .5s;
}

.edit-btn{
  margin: 0 30px;
}

.edit-btn:hover{
  cursor: pointer;
  border-radius: 50px ;
  background-color: #fff;
  
}
.extra-edit-btn{
  background-color: #fff;
}

.extra-edit-btn:hover{
  background-color: var(--light-bg);
}

.container form .add-btn:hover{
  cursor: pointer;
  border-radius: 50px ;
  background-color: #fff;
}

.container form .fields{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin: 0 6px;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
    margin-left: 8px;
}

.input-field .input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 10px 15px;
    height: 42px;
    margin: 8px 8px;
}

.input-field input{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);  
}

.input-field input[type="date"]{
    color: #707070;
}

.input-field input[type = "date"]:valid{
color:#333;
}